.dashboard-layout {
  display: flex;
}

.main-content {
  flex-grow: 1;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

.content-area {
  padding: 20px;
  background-color: #f4f6f9;
  flex-grow: 1;
}