/* src/components/layout/Header.css - Diseño Moderno y Minimalista */

.header {
  background-color: var(--color-white); /* Encabezado blanco */
  padding: var(--spacing-md) var(--spacing-xl); /* Aumentar padding horizontal */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-accent-medium); /* Borde sutil inferior */
  box-shadow: var(--shadow-sm); /* Sombra sutil */
  width: 100%; /* Ajustar al ancho completo de su contenedor */
  position: sticky;
  top: 0;
  z-index: 999;
  margin-left: 0; /* Eliminar el margen izquierdo redundante */
}

.header-title h2 {
  color: var(--color-primary-darkest);
  font-size: 1.6rem; /* Ajustar tamaño de fuente */
  margin: 0;
}

.header-user-menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-md); /* Espacio entre el nombre de usuario y el botón */
}

.user-name {
  color: var(--color-text-dark);
  font-weight: 600;
  font-size: 1rem;
}

.logout-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--color-text-dark);
  border: 1px solid var(--color-accent-medium);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius-md);
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logout-button:hover {
  background-color: var(--color-accent-medium);
  color: var(--color-primary-darkest);
  box-shadow: var(--shadow-sm);
}

.logout-button svg {
  margin-right: var(--spacing-xs);
  font-size: 1.1rem;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    .header {
        padding: var(--spacing-md) var(--spacing-lg);
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .header-title h2 {
        font-size: 1.4rem;
    }

    .logout-button {
        padding: var(--spacing-xs) var(--spacing-sm);
        font-size: 0.85rem;
    }

    .logout-button svg {
        margin-right: 5px;
        font-size: 1rem;
    }
}